*{
	margin: 0;
	padding: 0;
}

body{
    
    font-family: Calibri;
    padding: 10px 20px;
}
h1 {
	color: #FFFFFF;
	background-color: #26f3e27c;
	padding: 15px;
	border-radius:0 20px;
	text-align: center;
	text-shadow: 10px 5px 5px black;
}
h2 {
	color: #000000;
	background-color: #c4ec33;
	padding: 8px;
	border-radius:0 20px;
	width: 36%;
}
img{
	text-align: center;
}
.filas{
	display: table;
	border-spacing: 10px;
	margin: 0px;
}
.columna{
	background-color: #e100ffa2;
	padding: 10px;
	border-radius: 20px;
}
#colum1{
	background-color: rgba(150, 123, 123, 0.712); 
	width: 2%; 
	display: table-cell;
}
#colum2{
	width: 15%;
	color: white;
	display: table-cell;
}
.colucolu{
	display: table-cell;
}